<center>
<h2>Colleges</h2>

<table class='table'>
  <tr>
    <th>Name</th>
    <th>Nickname</th>
    <th></th>
  </tr>

<% @colleges.each do |college| %>
  <tr>
    <td>
    <%= link_to image_tag(college.imageURL,  :alt => "school logo", :id => "collegeImageSmall", :height => "50"), college %>
    <%= link_to college.name, college%></td>
    <td><%= college.nickname %></td>
    <td><%= link_to 'Show', college %></td>
  </tr>
<% end %>
</table>

<br />
</center>
